# logger
LOG_LEVEL=debug
NODE_ENV=development

# regis 
REDIS_PASS= your_pass
REDIS_HOST= your_host
REDIS_PORT= your_port

# Auth Service
AUTH_PORT=3001
AUTH_MONGO_URI=mongodb://localhost:27017/auth_db
JWT_SECRET=troque_em_producao
JWT_EXPIRES_IN=86400

# Player Service
PLAYER_PORT=3002
PLAYER_MONGO_URI=mongodb://localhost:27017/player_db

# MMR Service
MMR_PORT=3003
MMR_MONGO_URI=mongodb://localhost:27017/mmr_db

# Match Service
MATCH_PORT=3004
MATCH_MONGO_URI=mongodb://localhost:27017/match_db